body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #40514e;
}

h1 {
  font-size: 5.625rem;
  color: #66BFBF;
  padding-top: 100px;
  margin-top: 0;
  font-family: 'Lobster', cursive;

}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;
  padding: 20px;
}

h3 {
  color: #66BFBF;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  height: 900px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  height: 100px;
  position: relative;
}

.bottom-container p, a {
  margin-top: 25px;
}

.intro {
  width: 30%;
  margin: auto;
}

.profile img {
  border-radius: 100%;
  height: 15%;
  width: 15%;
}

.laptop-image {
  height: 20%;
  width: 20%;
  float: left;
  margin-right: 30px;
}

.heart-image {
  height: 20%;
  width: 20%;
  float: right;
  margin-left: 30px;
}

.learn {
  text-decoration: underline;
  font-weight: bold;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 200px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.mountain {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  position: relative;
}

.footer-link {
  color: #11999e;
  text-decoration: none;
  margin-top: 25px;
}

hr {
border-color: grey;
 border-style: dotted none none;
 border-width: 5px;
 background-color: transparent;
 width: 5%;
 margin: 100px auto;
}
