body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 5.625rem;
  color: #66bfbf;
  padding-top: 100px;
  margin-top: 0;
  font-family: 'Lobster', cursive;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  color: #11999e;
}

.profile img {
  border-radius: 100%;
  height: 15%;
  width: 15%;
}

.skills img {
  height: 10%;
  width: 10%;
}


.learn {
  text-decoration: underline;
  font-weight: normal;
  line-height: 2;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 900px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.mountain {
  margin-bottom: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-container {
  background-color: #5ca0d3;
  position: relative;
  height: 100vh;
}

.skill-row {
  display: inline-block;
  width: 50%;
}
