body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #40514e;
  text-align: center;
}

h1 {
  padding-top: 100px;
  margin-top: 0;
  font-family: 'Lobster', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  padding: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

hr {
  width: 5%;
  margin: 100px auto;
  background-color: transparent;
  border-color: grey;
  border-style: dotted none none;
  border-width: 5px;
}

p {
  line-height: 2;
}

a {
  margin: 10px 20px;
  color: #11999e;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.top-container {
  position: relative;
  height: 900px;
  background-color: #EAF6F6;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  position: relative;
  padding: 50px 0 20px;
  background-color: #66bfbf;
}



.intro {
  width: 30%;
  margin: auto;
}

.profile img {
  width: 30%;
  max-width: 200px;
  border-radius: 100%;
}

.laptop-image {
  float: left;
  width: 20%;
  height: 20%;
  margin-right: 30px;
}

.heart-image {
  float: right;
  width: 20%;
  height: 20%;
  margin-left: 30px;
}

.learn {
  text-decoration: underline;
  font-weight: bold;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 200px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.mountain {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  position: relative;
}

.footer-link {
  color: #11999e;
  text-decoration: none;
  margin-top: 25px;
}

.copyright {
  color: white;
}
